<meta charset="UTF-8">
<!-- Created by (A/229) Huckleberry -->

<title><%= title %></title>

<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Rubik:900|Slabo+27px" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
