<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-4"><img src="assets/patch.png" id="patch" alt="229th 1st Cav Patch" /></div>
            <div class="col-md-8">
              <h2><%= h1text %></h2>
              <div id="servers"></table>
            </div>
          </div>
        </div>
      </div>

      <hr class="clear" />

      <table class="datatable"></table>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
